@use "/src/styles/color";
@use "/src/styles/util";

$formElement: (
  labelMarginTop: 8px, // 모든 디자인시스템상 폼 요소는 라벨과 폼요소 사이 상하 간격이 같아야함.
  errorMarginTop: 8px, // 모든 디자인시스템상 폼 요소는 에러텍스트와 폼요소 사이 상하 간격이 같아야함.
  labelLineHeight: 20px, // 라벨에 노출되는 아이콘의 높이값은 인풋의 line-height만큼만 커야함.
  inputLineHeight: 20px, // 인풋에 노출되는 아이콘의 높이값은 인풋의 line-height만큼만 커야함.
  iconLabelGap: 8px // 라디오, 체크박스, 스위치 셋다 아이콘과 텍스트라벨 사이 좌우간격 이거임.
);

.container {
  width: 100%;
  min-width: 0; // 인풋, 드롭다운 등의 요소들이 grid 컨테이너나 flex 컨테이너 밑에 여러개로 가로로 올 때 화면 너비가 작아져도 뚫고나가지않도록 하기위함.
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: util.safeMapGet($formElement, labelMarginTop);
  
  column-gap: 4px; // 폼 라벨에 노출되는 아이콘간의 간격, 라벨텍스트와 아이콘 사이 간격 모두 2px
  
  // 라벨에 노출되는 모든 아이콘 크기를 비율에맞춰 고정하기위함
  > svg, img {
    width: auto;
    height: util.safeMapGet($formElement, labelLineHeight);
  }
  
  color: gray;
  line-height: util.safeMapGet($formElement, labelLineHeight);
}

.formElementUnderText {
  display: block;
  margin-top: util.safeMapGet($formElement, errorMarginTop);
  
  &.error {
    color: util.safeMapGet(color.$stateColors, error);
  }
  
  &.info {
    color: util.safeMapGet(color.$stateColors, info);
  }
}

/**
 * textarea / input에서 실제 폼요소에 들어가야하는 공통 스타일
 */
@mixin commonFormElement {
  line-height: util.safeMapGet($formElement, inputLineHeight);
  color: gray; // textarea, input의 value의 컬러값
  
  &::placeholder {
    color: lightgray; // textarea, input의 placeholder의 컬러값
  }
  
  &:disabled {
    color: util.safeMapGet(color.$stateColors, disabled);
    &::placeholder {
      color: util.safeMapGet(color.$stateColors, disabled);
    }
  }
}

/**
 * 경우에 따라, class에 error 필요
 *
 * <input의 테두리부분, textarea의 테두리부분 등의 폼 요소들의 공통 CSS.
 * Input State = 우선순위 순서대로 disabled > error > focus > default
 * ==> 이 폼 요소들의 아래 스타일은 반드시 똑같이 가야해서 이렇게 별도 분리함.
 */
@mixin commonFormElementWrapper {
  padding: 9px 7px; // 테두리와 그 안에 실제 폼요소태그 사이 패딩, 버튼들 중에 이 높아와 같은 버튼이 있어야함.
  
  border: 1px solid lightgray; // Priority 4. default
  border-radius: 4px; // Shape
  
  &:focus-within {
    border-color: util.safeMapGet(color.$brandColors, primary); // Priority 3. focus (brand color)
    
    input, textarea {
      outline: none;
    }
  }
  
  &.error {
    border-color: util.safeMapGet(color.$stateColors, error); // Priority 2. error
  }
  
  :disabled, // 이거 안하면, 겉에 테두리 안감싸는 폼 요소의 경우, :has에 안걸려서 border-color가 disabled 케이스에서 동작안함.
  &:has(*:disabled) {
    border-color: util.safeMapGet(color.$stateColors, disabled); // Priority 1. disabled
    cursor: not-allowed; // 테두리 영역 안의 전체가 이 커서로 나와야함.
  }
}

// 체크박스 / 라디오버튼 / 스위치 공통 Wrapper 스타일
@mixin commonRadioCheckSwitchWrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  
  > svg {
    margin-right: util.safeMapGet($formElement, iconLabelGap);
  }
  
  &:has(input:disabled) {
    cursor: not-allowed;
    color: util.safeMapGet(color.$stateColors, disabled);
  }
}
