@use "/src/styles/color";
@use "/src/styles/util";

.nav {
  display: flex;
  gap: 16px;
  margin-block: 16px;
}

.item {
  padding: 8px 16px;
  border: 1px solid gray;
  
  &.active {
    color: util.safeMapGet(color.$brandColors, primary);
    font-weight: bold;
  }
  
  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
