.WordWrapBreakExample-wrap {

    .word-wrap-normal {
        word-wrap: normal;
    }
    .word-wrap-break {
        word-wrap: break-word;
    }

    .word-break-normal {
        word-break: normal;
    }
    .word-break-break-word {
        word-break: break-word;
    }
    .word-break-break-all {
        word-break: break-all;
    }
    .word-break-keep-all {
        word-break: keep-all;
    }

    .sample {
        border: 1px solid black;
        width: 400px;
    }

    .no-space {
        background: wheat;
    }

    ul {
        margin-bottom: 20px;
    }
}
