.wrap {
  padding: 5px;
  
  video {
    margin-top: 15px;
  }
  
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.input {
  width: 800px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  margin-bottom: 5px;
  
  :focus {
    border-width: 3px;
    border-color: red;
  }
}