@use '/src/styles/layout.module';
@use '/src/styles/design-system.module';
@use "/src/styles/util";

// 이게 스티키 헤더가 노출되는 사이트의 일반적인 레이아웃 규칙임.
.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.header {
  position: fixed; // 이렇게 sticky 안쓰고 스티키헤더를 구현하더라 유튜브 치지직 둘다
  top: 0;
  width: 100%;
  height: util.safeMapGet(layout.$layout, pcHeaderHeight);
  z-index: util.safeMapGet(design-system.$zIndexes, pcStickyHeader);
  background-color: red; // 원래는 white여야함. transparent하면 안됨. 밑에가 보여버림
}

.page {
  padding-top: util.safeMapGet(layout.$layout, pcHeaderHeight); // margin-top을 하지않는 이슈는 heigt 100% 같은거 할 때 부모높이 기준으로 계산하게되는데 이 때 부모높이를 전체 페이지 높이로 하기위함
  padding-bottom: util.safeMapGet(layout.$layout, pcPageBottomDistance); // https://docs.google.com/document/d/1eAEjWPi3HKaFXD7x7kAqSoYnX9eqqDQrp9Of4rL1ozI/edit
  width: 100%;
  flex-grow: 1;
}
