@use '/src/styles/layout.module';

// 이게 스티키 헤더가 노출되는 사이트의 일반적인 레이아웃 규칙임.
.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: 100%;
  height: map-get(layout.$layout, pcHeaderHeight);
  background-color: red;
}

.page {
  width: 100%;
  flex-grow: 1;
}
