.link {
  // reset
  color: inherit;
  text-underline: none;
  background-color: whitesmoke;
  
  &.active {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}

.simpleTab {
  display: flex;
  > * {
    width: 200px;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
