.header {
  position: sticky;
  height: 60px;
  background: azure;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  
  > a, button {
    cursor: pointer;
  }
}

.gnb {
  display: flex;
  column-gap: 8px;
}