@use '/src/styles/animation';
@use '/src/styles/test';

.line {
  font-size: 28px;
  line-height: 40px;
  padding-inline: 40px;
  @include animation.fadeInOutText;
}

.page {
  > section {
    padding-block: 60px;
    text-align: center;
    > div {
      width: 100%;
    }
    
    @include test.crossBackground;
  }
}
