@import "../../../../components/homework/common";

.CardDetail-wrap {

    @include detail-page-common;

    .item {

        > img {
            display: block;
            padding: 5px;
            border: $item-border;
        }

        &.ratio-info {
            display: flex;

            & > .RatioImage {
                width: 200px;
                margin-right: 10px;
            }
        }

        .small {
            border: $item-border;
            padding: 20px;
            width: 280px;
        }

        .middle {
            border: $item-border;
            padding: 20px;
            width: 360px;
        }

        .big {
            border: $item-border;
            padding: 20px;
            width: 480px;
        }
    }
}
