@import "../../../../components/homework/common";

.Homework-wrap {

    @include detail-page-common;

    .item {
        padding: 20px;
        width: 280px;
        border: 1px solid lightgray;
        margin-right: 10px;
    }

    .item-wrap {
        display: flex;
    }

    .InputForm-wrap {
        margin-bottom: 10px;
    }
}
