@import "../../../../components/homework/common";

.InputFormDetail-wrap {

    @include detail-page-common;

    .item {
        border: $item-border;
        padding: 20px;
        margin-bottom: 10px;
    }

    .width-300 {
        width: 300px;
    }

    .width-500 {
        width: 500px;
    }

    .width-1000 {
        width: 1000px;
    }
}
