@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease-in;
}

.fadeOut {
  animation: fadeOut 0.4s ease-in;
}
