@use "/src/components/form/form-elements/index.module" as form;
@use "/src/styles/color";
@use "/src/styles/util";

@mixin colorByState {
  // default track
  > input[type="checkbox"] {
    background: nth(color.$grayColors, 5);
    
    // default thumb
    &::before {
      background-color: white;
    }
    
    // checked track
    &:checked {
      background: #F89B5C;
      
      // checked thumb
      &::before {
        background: util.safeMapGet(color.$brandColors, primary);
      }
    }
    
    // disabled + unchecked track
    &:disabled {
      background: nth(color.$grayColors, 6);
      
      // disabled + unchecked thumb
      &::before {
        background: nth(color.$grayColors, 7);
      }
    }
    
    // disabled + checked track
    &:checked {
      background: #e1b91e;
      
      // disabled + checked thumb
      &::before {
        background: #f9a985;
      }
    }
  }
}

$radius: 20px;

.switchLabel {
  @include form.commonRadioCheckSwitchWrapper;
  @include colorByState;
  height: $radius; // 텍스트 line-height보다 thumb가 보통 더 크기 때문에 높이를 thumb만큼 맞춰줌.
  
  // track
  > input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 36px;
    height: 14px;
    border-radius: 360px;
    cursor: pointer; // input은 cursor 기본값이 포인터가 아님.
    margin-right: util.safeMapGet(form.$formElement, iconLabelGap);; // 라디오, 체크박스는 svg margin-right로 라벨과 아이콘 사이 벌리지만 switch는 이걸로 벌림.
    
    // thumb
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      
      width: $radius;
      height: $radius;
      border-radius: 50%;
      box-shadow: -1px 1px 1px 0 #33333340;
      
      transition: left 0.2s;
    }
    
    &:checked::before {
      left: calc(100% - $radius);
      box-shadow: 1px 1px 1px 0 #33333340;
    }
  }
}
