@use '/src/styles/color';
@use '/src/styles/util';
@use '/src/styles/layout.module';

.container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid nth(color.$grayColors, 7);
  
  &.mobile {
    @include layout.horizontalPaddingContainer;
  }

  &.fix {
    justify-content: flex-start;

    > .item {
      padding-inline: 8px;
    }
  }

  &.equal-rate > .item {
    flex: 1;
  }
}

.item {
  @include util.flexCenter;
  column-gap: 2px; // badge와 텍스트 사이 긴격
  position: relative;
  height: 52px;
  color: map-get(color.$stateColors, inactiveTab);

  &::after {
    position: absolute;
    content: ' ';
    height: 1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: nth(color.$grayColors, 7);
  }
}

.item:global(.active) {
  color: map-get(color.$brandColors, primary);

  &::after {
    height: 3px;
    background-color: map-get(color.$brandColors, primary);
  }
}

.label {
  font-weight: 700;

  // 텍스트 수직정렬이 피그마와 1px만큼 오차가 발생해서 미세 조정
  position: relative;
  top: 1px;
}
