html, body {
  height: 100%;
}

button {
  padding: 8px 24px;
  background-color: lightskyblue;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

input, textarea, button {
  outline-color: red;
  outline-width: 2px;
  
  border: 1px solid gray;
}

textarea {
  min-height: 200px;
}
