/* global.css 가장 원본은 markup-playground 참고 */

html, body {
  height: 100%;
}

body {
  font-size: 14px;
}

button {
  cursor: pointer;
}

input:disabled, button:disabled, textarea:disabled {
  cursor: not-allowed;
}
