html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************************************************************************************************************
 * Custom Reset CSS > Form
 *************************************************************************************************************/
button, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  
  font-size: inherit;
  color: inherit;
}

input, textarea {
  font-family: inherit;
}

button, input:disabled, textarea:disabled {
  background: transparent;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*************************************************************************************************************
 * Custom Reset CSS > 기타
 *************************************************************************************************************/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit; /* 이거 안하면 링크 방문여부에 따른 그 컬러 나옴 */
}

dialog {
  color: inherit;
  border: none;
  padding: 0;
  overflow: visible;
}
