@use "../toast-util" as toastUtil;
@use "/src/styles/util" as util;

.profileSnackBar {
  @include toastUtil.resetToastBoxStyle;
  @include toastUtil.setToastBoxStyle(#000000B2);
  @include toastUtil.setToastTextStyle(14px, 20px, white);
  padding: 16px !important;
  
  > .body {
    width: 100%;
    
    > div {
      width: 100%;
    }
  }
}


$profileImageRadius: 32px;
$profileImageGap: 8px;

.wrap {
  display: flex;
  align-items: center;
  color: white;
  line-height: 20px;
}

.profileImage {
  border-radius: 50%;
  flex-shrink: 0;
  
  width: $profileImageRadius;
  height: $profileImageRadius;
}

.textWrap {
  flex-grow: 1;
  margin-left: $profileImageGap;
  width: calc(100% - $profileImageRadius - $profileImageGap);
}

.name {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

.message {
  @include util.textOverflowEllipsis;
}
