@use '/src/styles/util';
@use "/src/styles/design-system.module";

.outerContainer {
  @include util.flexCenter;
  background-color: white;
  height: 100%;
  
  &.fullScreen {
    position: fixed;
    @include util.absoluteFull;
    z-index: map-get(design-system.$zIndexes, errorPageTemplate);
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  white-space: pre-line;
}
