@use "./toast-util" as toastUtil;
@use "/src/styles/util";

.defaultSnackBar {
  @include toastUtil.resetToastBoxStyle;
  @include toastUtil.setToastBoxStyle(#000000B2);
  @include toastUtil.setToastTextStyle(14px, 20px, white);
  padding: 16px !important;
  
  // 닫기버튼 노출시키기 위함
  align-items: center;
  
  .body > div {
    @include util.textOverflowEllipseMultiline(2);
  }
}

.closeButton {
  height: 24px;
  margin-left: 4px;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.enter {
  animation: enter 0.4s ease-out;
}

.exit {
  animation: exit 0.4s ease-out;
}
