/*************************************************************************************************************
 * Toast Box
 *************************************************************************************************************/
@mixin resetToastBoxStyle {
  // reset
  padding: 0 !important;
  min-height: auto !important;
  max-height: none !important;
  
  .Toastify__progress-bar--wrp {
    display: none;
  }
  
  .Toastify__toast-body {
    padding: 0;
    margin: 0;
  }
}

/**
 * 이후 스타일 커스텀 할 때 important 붙여서 해야하는 속성 목록
 * padding / min-height / max-height
 */
@mixin setToastBoxStyle($backgroundColor) {
  background-color: $backgroundColor !important; // 이거는 기본 스타일 들어가있어서 important 해야함.
}

@mixin setToastTextStyle($fontSize, $lineHeight, $color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color !important; // 이거는 기본 스타일 들어가있어서 important 해야함.
}

/*************************************************************************************************************
 * Toast Container
 *************************************************************************************************************/
@mixin resetToastContainer {
  .Toastify__toast-container {
    padding: 0;
  }
}
