.page {
  display: flex;
}

.dropBox {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:global(.dragging) {
    border: 3px dashed red;
  }
}

.message {
  font-weight: bold;
  font-size: 20px;
}