.BarTexts-wrap {

    .with-bar {
        font-size: 16px;
        position: relative;

        &:not(:first-child) {
            padding-left: 10px;
            margin-left: 10px;

            &:before {
                content: "";
                width: 1px;
                height: 10px;
                display: inline-block;
                background: black;
                position: absolute;
                top: 7px;
                left: 0;
            }
        }
    }
}
