.BeforeAfterExample-wrap {

    .before-after-child {
        margin-top: 20px;

        .BarTexts-wrap .with-bar:before {
            position: static !important;
            display: block !important;
        }
    }
}
