.TableLayoutExample-wrap {

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    td {
        border: 2px solid blueviolet;
    }

    .auto {
        table-layout: auto;
    }

    .fixed {
        table-layout: fixed;
        margin-top: 20px;
    }

    .auto, .fixed {
        width: 300px;
    }
}
