@use '/src/styles/animation';
@use '/src/styles/test';

.box {
  width: 200px;
  height: 200px;
  background-color: black;
  @include animation.fadeInBottom;
}

.page {
  > section {
    padding-block: 64px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include test.crossBackground;
  }
}
