// 사용법: 필요한 시점에 "animation" 클래스 추가
@mixin fadeInBottom($duration: 1.2s, $initialYPosition: 50px) {
  opacity: 0; // 시작전에 0 유지
  
  &:global(.animation) {
    @keyframes animation {
      0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY($initialYPosition);
      }
      100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    
    animation-name: animation;
    animation-duration: $duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; // 끝나고나서 보여진 상태 유지
  }
}

// 사용법 : opacity 값을 element에 직접 전달 (transition 기반)
@mixin fadeInOutText($duration: 1.2s) {
  opacity: 0.3;
  transition: opacity 0.2s;
}
