@mixin commonForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.commonForm {
  @include commonForm;
}

// https://docs.google.com/document/d/1PuIedTgshX2lHkh9YgIW6sv9W7aiyuA_aTxdPlQ6Vm0/edit
$zIndexes: (
  modal: 30,
  mobileBottomNav: 10,
  pcStickyHeader: 10,
);
