$layout: (
  horizontalPadding: 16px,
  mobileBottomNavHeight: 60px, // https://docs.google.com/document/d/1qq72UzaRwqL-gYAOCxMM9tpgXx6uXz81GUnRiC_Y3Vk/edit#heading=h.envqvtmatzxf
  pcHeaderHeight: 60px, // https://docs.google.com/document/d/168stI7N-EXFGAYDxcntv3MDzAl3bBvFYPW2cTd1K0Ys/edit#heading=h.lbsm1e5szrv3
  pcPageBottomDistance: 60px, // https://docs.google.com/document/d/1eAEjWPi3HKaFXD7x7kAqSoYnX9eqqDQrp9Of4rL1ozI/edit
  large: 1200px,
  medium: 800px,
  small: 588px,
);

/**
 * 가로로 1200px ~ 480px 만큼의 container를 만들 때 필요한 CSS
 * @size large, medium, small, xsmall
 */
@mixin horizontalWidthContainer($size) {
  width: calc(map-get($layout, $size));
  margin: 0 auto;
}

@mixin horizontalPaddingContainer {
  padding-inline: map-get($layout, horizontalPadding);
}

.horizontalPaddingContainer {
  @include horizontalPaddingContainer;
}

.pageContentLarge {
  @include horizontalWidthContainer(large);
}

.pageContentMedium {
  @include horizontalWidthContainer(medium);
}

.mobilePageContent {
  width: 100%;
  flex-grow: 1;
  padding-bottom: map-get($layout, mobileBottomNavHeight);
}
