$layout: (
  horizontalPadding: 16px,
  mobileBottomNavHeight: 60px,
  pcHeaderHeight: 60px,
  large: 1200px,
  medium: 800px,
  small: 588px,
);

/**
 * 가로로 1200px ~ 480px 만큼의 container를 만들 때 필요한 CSS
 * @size large, medium, small, xsmall
 */
@mixin horizontalWidthContainer($size) {
  width: calc(map-get($layout, $size));
  margin: 0 auto;
}

@mixin horizontalPaddingContainer {
  padding-inline: map-get($layout, horizontalPadding);
}

.horizontalPaddingContainer {
  @include horizontalPaddingContainer;
}

.pageContentLarge {
  @include horizontalWidthContainer(large);
}

.pageContentMedium {
  @include horizontalWidthContainer(medium);
}

.mobilePageContent {
  width: 100%;
  flex-grow: 1;
  padding-bottom: map-get($layout, mobileBottomNavHeight);
}
