.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: 8px;
}

.item {
  padding: 24px;
  border: 2px solid gray;
  width: 400px;
  text-align: center;
}
