.Aside-wrap {

  display: flex;
  flex-direction: column;

  padding: 40px 60px;
  background: whitesmoke;
  width: 350px;

  a {

    margin-bottom: 5px;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      color: rgb(97, 218, 251);
    }
  }
}
