.Header-wrap {
  height: 60px;
  background: #20232a;
  color: white;

  .inner-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .nav-link {

    font-size: 18px;
    color: white;

    &.active, &:hover {
      color: rgb(97, 218, 251);
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
