.main {
  .box:nth-child(odd) {
    background-color: lightblue;
  }
  
  .box:nth-child(even) {
    background-color: lightcoral;
  }
}

.box {
  height: 100px;
}

.target {
  background-color: purple;
  font-size: 48px;
  font-weight: bold;
  color: white;
  height: 100px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 144px;
  height: 28px;
  background-color: red;
  color: white;
}