@use "container.module";
@use "/src/styles/color";
@use "/src/styles/typography.module";

$scrollbarHandlerWidth: 4px;
$modalPadding: container.$modalPadding;

@mixin customScrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: $modalPadding;
  }
  
  // 모바일에서는 모바일 웹브라우저의 기본스크롤 사용
  @supports (-webkit-overflow-scrolling: touch) {
    padding-right: $modalPadding;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border: {
      width: calc(calc($modalPadding - $scrollbarHandlerWidth) / 2);
      style: solid;
      color: transparent;
    };
    background-clip: padding-box;
    background-color: transparent;
    border-radius: 20px;
  }
  
  &:hover::-webkit-scrollbar-thumb {
    background-color: nth(color.$grayColors, 6);
  }
}

.bodyPaddingContainer {
  flex-grow: 1;
  
  $headerFooterMargin: 16px;
  padding-left: $modalPadding;
  padding-block: $headerFooterMargin;
}

.bodyScrollContainer {
  @include typography.body1;
  @include customScrollbar;
  
  display: flex; // 이미지같은거 노출될 때 간격 모두 없애기 위함
  flex-direction: column;
  align-items: flex-start;
  
  width: 100%;
  white-space: pre-line;
  word-break: break-word; // 이거 안하면 한글자 무한입력할 때 줄내림안됨
  
  > img {
    width: 100%;
    height: auto;
  }
}
