* {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 10px;
  background: aqua;
  color: white;
  font-weight: bold;
  border: 1px solid black;
}
