// <label>를 감싸는것 만으로도, 클릭했을 때 File Explorer가 열림.
.wrap {
  position: relative;
  
  /**
   * 1. <InputFile 밑에 자식이 children이랑 <input type file 2개가 오기 때문에 그 틈을 삭제하기위함.
   * 2. 기본적으로 <label이 display가 inline임. 근데 그 밑에는 <input이 display가 inline-block임.
   * - inline 밑에 inline-block을 두고, children이 block인 요소를 넣으니 <label의 너비, 높이가 children만큼 안커지는 일이 발생했음. (프로필 만들 때)
   */
  display: inline-flex;
}

.input {
  // <input type file 자체 기능인 Drag And Drop을 이용하기 위해 부모 영역만큼 차지하게 만듬
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  // 그 다음 겉으로 안보이게 만들어야하는데, display none이나 visibility hidden은 이벤트를 못받아서 안됨.
  opacity: 0;
  
  /**
   * 처음에는 .wrap에 cursor: pointer를 추가해봤었음. 그런데 마우스 커서가 안바뀌어서
   * 이거 추가했다간, 드래그앤드롭 기본동작이 인먹힘.
   * 그래서 결국 cursor pointer를 여기에 추가했음.
   */
  // z-index: -1; container
  // pointer-events: none;
  cursor: pointer;
  
  // 브라우저 기본 파일 선택버튼 숨김
  &::file-selector-button {
    display: none;
  }
}
