@use "/src/components/form/form-elements/index.module" as form;
@use "/src/styles/util";

/**
 * 얘가 실질적인 인풋같이 생긴 테두리도 보여주고 그 안에 아이콘, <input>등을 감싸야함.
 * 또한, 아이콘은 절대 position absolute 하면안됨. 그랬다간 별도로 텍스트 입력하던게 아이콘 덮을 수 있으니,
 * flex container로 input의 최대길이를 제한하는게 편함.
 */
.innerContainer {
  @include form.commonFormElementWrapper;
  display: flex;
  align-items: center; // 아이콘 수직 중앙정렬
  gap: 4px; // 아이콘과 input 사이 간격
  
  > svg, img {
    flex-shrink: 0; // 아이콘 크기가 인풋 크기와 상관없이 줄어들지않도록.
    
    // 인풋에 노출되는 모든 아이콘 크기를 비율에맞춰 고정하기위함
    width: auto;
    height: map-get(form.$formElement, inputLineHeight);
  }
}

.input {
  @include form.commonFormElement;
  flex-grow: 1;
}

.unit {
  white-space: nowrap; // 이렇게 안하면, 인풋 뒤에 나오는 텍스트가 길어져서 세로로 줄내림됨.
}

.hiddenInput {
  @include util.hiddenDefaultInputIcon;
}

// <label>를 감싸는것 만으로도, 클릭했을 때 File Explorer가 열림.
.inputFileWrap {
  position: relative;
  
  /**
   * 1. <InputFile 밑에 자식이 children이랑 <input type file 2개가 오기 때문에 그 틈을 삭제하기위함.
   * 2. 기본적으로 <label이 display가 inline임. 근데 그 밑에는 <input이 display가 inline-block임.
   * - inline 밑에 inline-block을 두고, children이 block인 요소를 넣으니 <label의 너비, 높이가 children만큼 안커지는 일이 발생했음. (프로필 만들 때)
   */
  display: inline-flex;
}

.inputFile {
  // <input type file 자체 기능인 Drag And Drop을 이용하기 위해 부모 영역만큼 차지하게 만듬
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  // 그 다음 겉으로 안보이게 만들어야하는데, display none이나 visibility hidden은 이벤트를 못받아서 안됨.
  opacity: 0;
  
  /**
   * 처음에는 .wrap에 cursor: pointer를 추가해봤었음. 그런데 마우스 커서가 안바뀌어서
   * 이거 추가했다간, 드래그앤드롭 기본동작이 인먹힘.
   * 그래서 결국 cursor pointer를 여기에 추가했음.
   */
  // z-index: -1; container
  // pointer-events: none;
  cursor: pointer;
  
  z-index: 1000; // <InputFile의 children 자리에 position relative나 absolute 요소가 오더라도, 클릭이벤트는 얘가 받아가기 위함
  
  // 브라우저 기본 파일 선택버튼 숨김
  &::file-selector-button {
    display: none;
  }
}
