@use "/src/styles/color";
@use "/src/styles/design-system.module";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  padding: 20px;
  
  > h2 {
    margin-bottom: 12px;
  }
  
  > h2:not(:first-child) {
    margin-top: 48px;
  }
}
