@use '/src/styles/animation';

// 2개 이상의 애니메이션의 속성을 동시에 실행하는 코딩스타일
@mixin animationSetting {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes graph {
  to {
    stroke-dashoffset: 0;
  }
}

.animation {
  stroke-dasharray: 620; /* 선의 총 길이 */
  stroke-dashoffset: 620; /* 처음에는 선이 전부 숨겨진 상태 */
  animation-name: graph;
  @include animationSetting;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  
  opacity: 0;
  animation-name: fadeIn;
  @include animationSetting;
}
