@use "/src/styles/util";

.pageWrap {
  width: 1200px;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
}

.navigator {
  margin-block: 32px;
  
  display: flex;
  gap: 20px;
  justify-content: center;
}


.table {
  width: 100%;
  
  td {
    border: 1px solid black;
  }
}

.calendarDate {
  @include util.flexCenter;
  height: 64px;
  
  &.notMatched {
    color: lightgray;
  }
}
