.modal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  width: 100%;
  max-width: 300px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content {
  font-size: 14px;
  white-space: pre-line;
}
