@keyframes move {
  from {
    left: 100%;
  }
  
  to {
    left: 0;
  }
}

.original {
  position: relative;
  width: 150px;
  height: 250px;
  overflow: hidden;
}

.queue {
  position: absolute;
  left: 100%;
  top: 0;
  animation-fill-mode: forwards;
  animation-name: move;
}