.RatioImage {
    width: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
        content: "";
        padding-top: 100%;
        display: block;
    }
}
