.StarPoint-wrap {

    display: flex;

    button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: lightgray;

        &.active {
            background: orange;
        }

        &.pointer {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
