@import "common";

.VerticalCard-wrap {

    border: 1px solid lightgray;

    .RatioImage {
        width: 100%;
    }

    .middle-wrap {
        padding: 10px 20px;
        background: whitesmoke;

        .label {
            @include line-clamp-ellipsis(1);
        }

        .title {
            margin-top: 20px;
            @include line-clamp-ellipsis(1);
        }

        .hightlight-cross-out {
            margin-top: 40px;

            > .hightlight,
            > .cross-out {
                display: inline-block;
                max-width: 50%;
                @include ellipsis();
            }

            .hightlight {
                color: orangered;
                padding-right: 5px;
            }

            .cross-out {
                text-decoration-line: line-through;
            }
        }
    }

    .bottom-wrap {
        border-top: 1px solid lightgray;
        background: whitesmoke;
        padding-top: 10px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content {
            margin-top: 10px;
            @include ellipsis();
        }
    }
}
