@use "/src/components/form/form-elements/index.module" as form;

.innerContainer {
  @include form.commonFormElementWrapper;
  font-size: 0; // 이거 해야 컨테이너와 textarea 사이 폰트사이즈만큼의 여백이 안생김.
  position: relative;
}

.textarea {
  @include form.commonFormElement;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

/**
 * 이건 디자인따라가야함.
 * TextArea 안에다 두는 디자이너, 밖에 두는 디자이너 둘 다 있음.
 * 안에다 두면, 입력한값과 안겹치게,
 * 밖에다 두면, TextArea 바로밑에 뜨는 에러메시지같은거랑 안겹치게 주의
 */
.count {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 14px;
}
